<p class="Total-Tasks-4">Task Total: {{TaskTotal}}</p>



<div class='col'>


  <div class='Rectangle-3' *ngFor='let task of tasks'>
    <p class="Task">{{task.name}}<span><a href="javascript:void(0);" class="layer" (click)="task.hide = !task.hide">+</a></span></p>

  <div class="employeeBox" [hidden]="!task.hide">
    <form class="Choose-Employee">
      <div><input type="button" class="Employee" id="1" name="{{task.name}}" value="Employee A" (click)="assign($event)"></div>
      <div><input type="button" class="Employee" id="2" name="{{task.name}}" value="Employee B" (click)="assign($event)"></div>
      <div><input type="button" class="Employee" id="3" name="{{task.name}}" value="Employee C "(click)="assign($event)"></div>
    </form>
  </div>

</div>

</div>
